.font-poppins {
  font-family: var(--font-poppins);
}

:host {
  display: block;
  height: 100%;
}

/* Custom scrollbar for a cleaner look */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
