<div class="p-6 grid grid-cols-3 gap-6">
  <!-- Tarjetas de métricas -->
  <div class="bg-white shadow rounded p-4">
    <h2 class="text-lg font-bold">Pacientes</h2>
    <p class="text-2xl font-semibold">300</p>
  </div>
  <div class="bg-white shadow rounded p-4">
    <h2 class="text-lg font-bold">Ventas del día</h2>
    <p class="text-2xl font-semibold">5</p>
  </div>
  <div class="bg-white shadow rounded p-4">
    <h2 class="text-lg font-bold">Clientes</h2>
    <p class="text-2xl font-semibold">59</p>
  </div>

  <!-- Gráfico Animales -->
  <div class="col-span-2 bg-white shadow rounded p-4">
    <h2 class="text-lg font-bold mb-2">Pacientes por especie</h2>
    <div id="chartdiv" class="w-full h-64"></div>
  </div>

  <!-- Gráfica Ventas -->
  <div class="col-span-1 bg-white shadow rounded p-4">
    <h2 class="text-lg font-bold mb-2">Ventas</h2>
    <div id="chartVentas" class="w-full h-64"></div>
  </div>

  <!-- Gráfica Productos -->
  <div class="col-span-1 bg-white shadow rounded p-4">
    <h2 class="text-lg font-bold mb-2">Productos más vendidos</h2>
    <div id="chartProductos" class="w-full h-64"></div>
  </div>

<!-- Tabla Pacientes -->
  <div class="bg-white shadow rounded p-4 col-span-3">
    <h2 class="text-lg font-bold mb-2">Pacientes</h2>
    <table class="table-auto w-full text-left">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Especie</th>
          <th>Raza</th>
          <th>Sexo</th>
          <th>Dueño</th>
          <th>Última visita</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bichin</td>
          <td>Gato</td>
          <td>Común americano</td>
          <td>Macho</td>
          <td>Mauricio Esperon</td>
          <td>22-09-2024</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>