.edit-icon{
  width: 30px;
  height: auto;
  padding-right: 12px;
  padding-left: 150px;
}

.search-container{
  width: calc(100% - 22px);
  margin: 0 auto;
  margin-top: 10px;
}

.search-container .input-group,
.search-container select,
.search-container .btn {
  height: 30px;
}


.item-info{
  font-family: Roman, Helvetica, sans-serif;
  font-size: 14px;
  color: hsla(0, 4%, 56%, 0.736);
}