<h1> HOLA ESTAMOS EN CALENDARIO</h1>

<div class="mb-8 bg-gray-700 ">
  <button>Este es boton para agregar cita</button>
  <button> para cancelar cita </button>

</div>

<div>
  <h1> Aqui esta el calendadrio</h1>
  <table class="border-separate border border-gray-400 ...">
    <thead>
    <tr>
      <th class="border border-gray-300 ...">State</th>
      <th class="border border-gray-300 ...">City</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="border border-gray-300 ...">Indiana</td>
      <td class="border border-gray-300 ...">Indianapolis</td>
    </tr>
    <tr>
      <td class="border border-gray-300 ...">Ohio</td>
      <td class="border border-gray-300 ...">Columbus</td>
    </tr>
    <tr>
      <td class="border border-gray-300 ...">Michigan</td>
      <td class="border border-gray-300 ...">Detroit</td>
    </tr>
    </tbody>
  </table>
</div>
