<nav [class.collapse-nav]="isCollapsed" >
  <ul>
    <div class="sidebar-top">
      <div>
        <img class="icon" src="assets/icons/sidebar/logo.svg" (click)="isCollapsed = false"/>
      </div>
      <div class="text-container d-none d-md-block">
        <h1>San Francisco de Asís</h1>
      </div>
      <div>
        <img class="arrow" src="assets/icons/sidebar/arrow.svg" (click)="isCollapsed = true"/>
      </div>
    </div>


    <li routerLink="/home" routerLinkActive="active">
      <img class="sidebar-icon" src="assets/icons/sidebar/home.svg" />
      <span>Inicio</span>
    </li>


    <li routerLink="/pacientes" routerLinkActive="active">
      <img class="sidebar-icon" src="assets/icons/sidebar/pets.svg" />
      <span>Pacientes</span>
    </li>


    <li routerLink="/calendario" routerLinkActive="active">
      <img
        class="sidebar-icon"
        src="assets/icons/sidebar/calendar.svg"
      />
      <span>Calendario</span>
    </li>

    <li routerLink="/ordenes" routerLinkActive="active">
      <img
        class="sidebar-icon"
        src="assets/icons/sidebar/expense.svg"
      />
      <span>Ordenes</span>
    </li>

    <li routerLink="/inventario" routerLinkActive="active">
      <img
        class="sidebar-icon"
        src="assets/icons/sidebar/inventory.svg"
      />
      <span>Inventario</span>
    </li>


    <li routerLink="/servicios" routerLinkActive="active">
      <i class="fa-solid fa-bell-concierge fa-xl sidebar-icon"></i>
      <span>Servicios</span>
    </li>

    <li routerLink="/iot" routerLinkActive="active">
      <i class="fa-solid fa-microchip fa-xl sidebar-icon"></i>
      <span>IoT</span>
    </li>

  </ul>

  <button class="btn-logout" (click)="logout()">
    <img
      class="sidebar-icon"
      src="assets/icons/sidebar/logout.svg"
      alt=""
    />
    <span>Cerrar sesión</span>
  </button>

</nav>
