nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #141C21;
  padding: 20px;
  overflow-y: auto;
}



nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  color: #D4D6D8;
  font-size: 1rem;
}

.sidebar-top{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 3rem;
}

.arrow{
  width: 18px;
  height: auto;
}

.icon{
  height: auto;
}

.icon img{
  width: 100%;
  height: auto;
}

nav h1{
  font-size: 1.2rem;
  font-family: Epilogue;
  font-weight: 600;
  margin: 0;
}

.text-container{
  flex-grow: 1;
}

.sidebar-icon{
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: auto;
  margin-right: 12px;
}

nav li{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

nav ul li{
  padding: 8px 16px;
  cursor: pointer;
  vertical-align: middle;
  height: 42px;
  transition: background-color 0.3s, transform ease-out 0.3s;
}


nav ul li:hover{
  background-color: #59b3f815;
  border-radius: 6px;
}

nav ul li:active{
  background-color: #59b3f815;
  border-radius: 6px;
}

nav ul li.active{
  background-color: #59b3f815;
  border-radius: 6px;
}

nav a{
  text-decoration: none;
  color: inherit;
}

.btn-logout{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  background-color: #667a8a2a;
  color: #d4d6d8ac;
  border: none;
  cursor: pointer;
  width: 90%;
  border: solid #bebebed7 1px;
  border-radius: 4px;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6df;
  transition: 300ms;
}

.btn-logout:hover {
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
  inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
  inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  -webkit-transition: 500ms;
  transition: 500ms;
}

nav.collapse-nav .text-container {
  display: none !important;
}

nav.collapse-nav .arrow{
  display: none !important;
}

nav.collapse-nav li {
  padding: 8px !important;
  text-align: center !important;
}

nav.collapse-nav li span {
  display: none !important;
}

nav.collapse-nav h1{
  display: none !important;
}

nav.collapse-nav .btn-logout span {
  display: none !important;
}

nav.collapse-nav .btn-logout {
  justify-content:center !important;
  padding: 0 !important;
}


/* importante para detecta el hostbinding*/

:host {
  display: block;
  width: 250px;
  transition: width 0.3s ease-in-out;
}

:host.collapse-nav {
  width: 80px;
}


