:host {
  display: block;
}

form {
  max-width: 320px;
  width: 100%;
}

/* Ensure Poppins for headers and Lato for inputs/labels */
label, input, p, span, button {
  font-family: var(--font-lato), sans-serif;
}

h1, h2, h3, .font-black {
  font-family: var(--font-poppins), sans-serif;
}
