<!--al ser separados podemos aqui usar la navbar sin afecta el login y no tener que pegar en cada pagina del dash-->
<!--De esta forma aqui uso divs para dar estilos, enviar la nav a la izquierda y el contenido a la derecha-->


<div class="flex h-screen nav">
<!--  IMPORTANTE -->
<!--  cuando se importa un componente hay que declararlo o agregarlo en los imports del componente donde se usara-->
<!--  ejemplo aqui se importa app-navbar entonces hay que ir al archivo ts en este caso se llama main-layout.component.ts-->
<!--  vayan a ese archivo ahi siguen el comentario ww-->
  <app-navbar />

  <main class="flex-1  p-6 overflow-auto main-content bg-gray-100">
    <router-outlet></router-outlet>
  </main>
</div>
