<table class="min-w-full text-sm">
  <thead class="border-b text-gray-500">
  <tr>
    <th class="text-left px-3 py-2">Fecha</th>
    <th class="text-left px-3 py-2">Motivo</th>
    <th class="text-left px-3 py-2">Peso</th>
    <th class="text-left px-3 py-2">Diagnóstico</th>
  </tr>
  </thead>
  <tbody>
  <tr class="border-b hover:bg-gray-50">
    <td class="px-3 py-2">2024-11-21</td>
    <td class="px-3 py-2">Control</td>
    <td class="px-3 py-2">4 kg</td>
    <td class="px-3 py-2">Parámetros normales</td>
  </tr>
  </tbody>
</table>
